nav(class="top-bar",data-topbar,role="navigation")
  ul.title-area
    li.name
      h1
        a(href=locals.url) LUCSSA
    li.toggle-topbar.menu-icon
      a(href="#")
        span Menu
  section.top-bar-section
    ul.right
      li
        a(href="#") About
      li
        a(href="#") Events
      li
        a(href="#") Contact
      li
        a(href="#") Code of Conduct 