.small-12.medium-4.columns  
  div#mc_embed_signup
  form(action="//lucssa.us9.list-manage.com/subscribe/post?u=eb14b8eac99dbc01781f3b0ee&amp;id=4947488808",method="post",id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form",class="validate",target="_blank",novalidate)
  div#mc_embed_signup_scroll
    h4.sign-up Join Us!
    div.mc-field-group
      label(for="mce-EMAIL")
      input(type="email",value="",name="EMAIL",placeholder="Email Address",class="required email",id="mce-EMAIL")
    div.mc-field-group
      label(for="mce-FNAME")
      input(type="text",value="",name="FNAME",placeholder="First Name",class="",id="mce-FNAME")
    div.mc-field-group
      label(for="mce-LNAME")
      input(type="text",value="",name="LNAME",placeholder="Last Name",class="",id="mce-LNAME")
    div.mc-field-group
      label(for="mce-SNUMBER")
      input(type="number",name="SNUMBER",placeholder="Student Number",class="required",value="",id="mce-SNUMBER")
    div#mce-responses.clear
    div(class="response",id="mce-error-response",style="display:none")
    div(class="response",id="mce-success-response",style="display:none")
    div(style="position: absolute; left: -5000px;")
      input(type="text",name="b_eb14b8eac99dbc01781f3b0ee_4947488808",tabindex="-1",value="")
    div.clear
      input(type="submit",value="Sign Up",name="subscribe",id="mc-embedded-subscribe",class="button")